.navbar {
    display: flex;
    background-color: #B4E4FF;
}

.site-name {
    padding: 5px 30px;
    color: #3E54AC;
}

.site-menu {
    padding: 10px 30px;
    margin-left: 100px
}

a {
    text-decoration: none;
    color: #E9F8F9;
    margin: 0px 10px
}