<div class="filter-container">
    <span>Filter: </span>
    
    <input type="radio" name="filter" value="All" [(ngModel)]="selectedValue" (change)="onRadioChanged()">
    <span>All Courses ({{all}}) </span>

    <input type="radio" name="filter" value="Free" [(ngModel)]="selectedValue" (change)="onRadioChanged()">
    <span>Free Courses ({{free}})</span>
    
    <input type="radio" name="filter" value="Premium" [(ngModel)]="selectedValue" (change)="onRadioChanged()">
    <span>Premium Courses ({{premium}})</span>
</div>