.container {
    padding: 20px 30px;
    background-color: #eee;
}

.more-products {
    display: flex;
}

.btn-more {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding:10px 0px;
    background-color: #4CAF50;
    border: none;
}