<div class="form">
  <h2 id="registration">Registration Form</h2>
  <!-- ngSubmit will be called when form is submitted -->
  <!-- #myForm is a local reference, then we passed it as onSubmit parameter-->
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">

    <!-- #personalDetailsVariable="ngModelGroup" means assign "personalDetails" object into "personalDetailsVariable" local reference -->
    <div ngModelGroup="personalDetails" #personalDetailsVariable="ngModelGroup">
      <label for="fname">First Name</label>
      <!-- To get control of this element, we need to specify "name" and ngModel -->
      <!-- Because we used "ngForm" (only want to get control of this element from our "ngForm" object), we don't need to assign a value into ngModel -->
      <!-- We will get "firstname" inside "controls" object in the console log -->
      <!-- To get its value, we can find it on "value" object in the console log -->
      <!-- To get validation status, we can find it on "valid" property either in form or field level -->
      <!-- #fname will receive firstname object -->
      <input type="text" id="fname" placeholder="Your name.." name="firstname" [(ngModel)]="firstname" required #fname="ngModel">
      
      <label for="lname">Last Name</label>
      <input type="text" id="lname" placeholder="Your last name.." name="lastname" [(ngModel)]="lastname" required>
      
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Your last email.." name="email" ngModel required email>

      <div>
        <small *ngIf="personalDetailsVariable.invalid && personalDetailsVariable.touched">Some of the required fields does not have valid value.</small>
      </div>
      <button (click)="setDefaultValues()">Set Default Value</button>
    </div>

    <label for="country">Country</label>
    <select id="country" name="country" [ngModel]="defaultCountry">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
      <option value="india">India</option>
      <option value="uk">UK</option>
    </select>

    <label for="gender">Gender:</label>
    <span *ngFor="let gender of genders">
      <input type="radio" id="{{ gender.id }}" value="{{ gender.value }}" name="gender" [ngModel]="defaultGender">
      <label for="male">{{ gender.value }}</label>
    </span>
    <br><br>

    <label>Hobbies <i>(Optional)</i></label>
    <div class="form-inline">
      <label><input type="checkbox" value="sports" name="hobbies" ngModel> Sports</label>
      <label><input type="checkbox" value="movies" name="hobbies" ngModel> Movies</label>
      <label><input type="checkbox" value="music" name="hobbies" ngModel> Music</label>
    </div>

    <input type="submit" value="Submit" id="btn" [disabled]="!myForm.valid">
  </form>
</div>
