@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

h2 {
    font-family: 'Poppins', sans-serif;
    color: brown
}

.container {
    width: 820px;
    margin:0px auto;
    text-align: center;
    background-color: #F5F5F5;
}