<div class="container-fluid d-grid gap-12px grid-col-3 p-16px">
    <div *ngFor="let video of videos">
        <div class="card" [appHighlight]="video.likes == mostLikedVideo.likes">
            <div class="card-body">
                <img [src]="video.thumbnail" alt="thumbnail" class="thumbnail" />
                <h4>{{ video.title }}</h4>
            </div>
        </div>
    </div>
</div>
<div [appStyle]="{ background: '#19A7CE', color: '#FFFFFF', padding: '16px', margin: '0px 16px' }">
    <p>This is a demo HTML content to understand custom ngStyle directive in Angular.</p>
</div>
<button class="button" (click)="displayToggle()">Show notice</button>
<div class="container-info" *appIf="display">
    <h3>This is an important notice!</h3>
    <p>This is a notice issued for all website users.</p>
</div>
<!-- ngSwitch is a structural directive but it doesn't start with asterick symbol, because it doesn't manipulate the DOM -->
<div class="m-h-16px" [ngSwitch]="occupation">
    <p *ngSwitchCase="'teacher'">This is paragraph will be displayed when occupation is teacher.</p>
    <p *ngSwitchCase="'designer'">This is paragraph will be displayed when occupation is designer.</p>
    <p *ngSwitchCase="'lawyer'">This is paragraph will be displayed when occupation is lawyer.</p>
    <p *ngSwitchDefault>This paragraph is default and will be displayed if no case matches switch expression.</p>
</div>
