<!-- Structural directive always begin with asterisk symbol -->
<div *ngFor="let item of products; let i = index">
    <div class="product-container">
        <div class="index-container">{{ i }}</div>
        <div class="image-container">
            <img [src]="item.image" alt="" style="max-width: 50px; max-width: 50px;">
        </div>
        <div>
            <div class="name-container"><h6>{{ item.name }}</h6></div>
            <div class="details-container">
                <div class="details">{{ item.available }}</div>
                <div class="details"><b>Price: </b>{{ item.price }}</div>
                <div class="details"><b>Color: </b>{{ item.color }}</div>
            </div>
        </div>
        <div class="options">
            <button class="btn btn-success">Show Details</button>
            <button class="btn btn-warning">Buy Now</button>
        </div>
    </div>
</div>